.snackbar {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  outline: 3px solid #F74848;
}

.snackbar .symbol {
  flex: 20%;
}

.snackbar .message {
  flex: 80%;
  text-align: center;
  font-weight: bold;
}

#show {
  visibility: visible;
  animation: zoomIn 0.8s 0s;
}
#hide {
  visibility: hidden;
}


