*
{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

ul
{
    list-style-type: none;
}

body{
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header
{
    position: fixed;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    padding: 26px 0 0 31.7px;
    display: flex;
    justify-content: start;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

header img
{
    margin-right: auto;
    height: 54px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.card
{
    width: 392px;
    height: 575.75px;
    background-color: transparent;
    border-radius: 12px;
    perspective: 1000px;
}


  /* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    text-align: center;
    -webkit-box-shadow: 0px 12px 8px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 12px 8px 0px rgba(0,0,0,0.4);
    border-radius: inherit;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
    border: 2px solid #d1d1d1;
    border-radius: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
 
  
  /* Style the back side */
  .card-back {
    transform: rotateY(180deg);
  }


.card.ap .card-front
{
    border: none;
    outline: 3px solid #000000;
}

.card.ap .card-back
{
    border: none;
    outline: 3px solid #000000;
}


.card.nl .card-front
{
    border: none;
    outline: 3px solid #F74848;
}

.card.nl .card-back
{
    border: none;
    outline: 3px solid #F74848;
}

.card.le .card-front
{
    border: none;
    outline: 3px solid #62DB38;
}

.card.le .card-back
{
    border: none;
    outline: 3px solid #62DB38;
}

.card.zap .card-front
{
    border: none;
    outline: 3px solid #FFEF61;
}

.card.zap .card-back
{
    border: none;
    outline: 3px solid #FFEF61;
}

.card.nl .card-inner
{
    -webkit-box-shadow: 0px 12px 8px 0px #F74848; 
    box-shadow: 0px 12px 8px 0px #F74848;
}

.card.le .card-inner
{
    -webkit-box-shadow: 0px 12px 8px 0px #62DB38; 
    box-shadow: 0px 12px 8px 0px #62DB38;
}

.card.zap .card-inner
{
    -webkit-box-shadow: 0px 12px 8px 0px #FFEF61; 
    box-shadow: 0px 12px 8px 0px #FFEF61;
}

.card.ap .card-inner
{
    -webkit-box-shadow: 0px 12px 8px 0px #000000; 
    box-shadow: 0px 12px 8px 0px #000000;
}

.card-header
{
    padding-inline: 16px;
    padding-block: 17px;
    display: flex;
    align-items: baseline;
    width: 100%;
}

.card-indicator
{
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
}

.card-title
{
    text-align: center;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.card-content
{
    padding-inline: 49px;
}

.card-question
{
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

.card-answer
{
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.card-footer
{
    padding-inline: 16.5px;
    padding-block: 19.5px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-choices
{
    display: flex;
    gap: 16.67px;
}

.choice
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 48px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Roboto;
    font-size: 10px;
    line-height: 12px;
}

.choice.nl
{
    border-color: #F74848;
}

.choice.le
{
    border-color: #62DB38;
}

.choice.zap
{
    border-color: #FFEF61;
}

.card-switch
{
    margin-left: auto;
    width: 39.81px;
    height: 35.21px;
}

.card-switch img
{
    height: 100%;
    width: 100%;
}

.message
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message h1
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.message img
{
    height: 35px;
    width: 35px;
}

.message h2
{
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.message-buttons
{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btn
{
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 10px;
    padding: 24px 65px;
    width: 322px;
    height: 72px;
    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;
}

.btn-retry img
{
    width: 19px;
    height: 14px;
}


.list-decks
{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 16px;
}

.input-meta-zap
{
    padding: 24px 65px 24px 16px;
    width: 345px;
    height: 49px;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-top: 76px;
    outline: 0;
}

.meta-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-top: 30px;
}

@media (max-width: 614px) {
    main
    {
        padding: 10%;
    }
  }

